/* 
    Created on : 21 ก.พ. 2557, 14:54:47
    Author     : Research_Com
*/
body{
    font-size: 13px;
}

@media (min-width: 1200px)  {
    .container {
        width: 980px;
    }
} /*  END @media (min-width: 1200px) */

.form-horizontal .control-label {
    // text-align: left;
}